#cluster-details-container{
    /* overflow: scroll; */
    overflow-y: hidden;
    overflow-x: auto;
}

#cluster-details .toolTip {
    position: absolute;
    display: none;
    min-width: 30px;
    max-width: 240px;
    border-radius: 4px;
    height: auto;
    background: rgba(250,250,250, 0.9);
    border: 1px solid #DDD;
    padding: 4px 8px;
    font-size: .85rem;
    text-align: center;
    z-index: 1000;
  }