#main-container{
    width: 100vw;
    float: left;
}

#header{
    width: 100vw;
    height: 7vh;
    background-color: rgb(0, 21, 41);
}

#engine-logo{
    width:15vw;
    float: left;
}
#search-container{
    float: left;
    margin-left: 3vw;
    width: 80vw;
    height: 100%;
    /* text-align: -webkit-center; */  /* 可以让块级元素水平居中 */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-image: url('../assets/img/interface-bg.jpg'); */
}

#search-interface{
    width: 40vw;
    /* height: 30%; */
}
#search-filter{
    width: 100vw;
    height: 3vh;
    display: flex;
    align-items:center;
    vertical-align: middle;
    /* background-color: rgb(43, 50, 65); */
}

#result-filter{
    width: 25vw;
    height: 3vh;
    /* float: left; */
    background-color: rgb(43, 50, 65);
}

#time-filter{
    width: 50vw;
    height: 3vh;
    /* float: left; */
    display: flex;
    padding-left: 10px;
    /* background-color: rgb(156, 220, 218); */
}
:where(.css-dev-only-do-not-override-acm2ia).ant-btn-primary{
    background-color: gray;
}
#search-result{
    width: 100vw;
    height: 90vh;
    float: left;
}

:root {
    overflow-y: hidden;
    overflow-x: hidden;
}

.App-logo{
    
    /* height: auto;
    width: auto; */
    max-width: 100%;
    max-height: 100%;

    height: 7vh;
    /* max-width: 160px; */
    padding-left: 1vw;
    vertical-align: middle;
}

#list-container{
    float: left;
    width: 20vw;
    height: 90vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #eeeeee;;
}


.flexlayout__layout{
    top: 10vh !important;
    /* left: 25vw !important; */
}

.flexlayout__tab{
    overflow: hidden !important;
}

#close-repo-portrait{
    width: 100vw;
    height: 90vh;
    top:10vh;
    background-color: rgba(27, 31, 36, 0.5);
    position: absolute;
    border-radius: 0px;
    border: 0px rgb(0 94 211 / 15%);
}

#repo-portrait{
    position: absolute;
    width: 40vw;
    height: 90vh;
    top: 10vh;
    right: 0;
    background-color: aquamarine;
}

